.comment-box-wrap{
  width: 100%;
  height: 80vh;
  background-color: lightpink;
  padding: 80px;
  display: flex;
}
.comment-box{
  background-color: #fff;
  flex-grow: 1;
  padding: 30px 20px;
}
.comment-form input{
  padding:10px 10px;
  font-size: 20px;
  outline: none;
}
.comment-form button{
  height:45px;
  font-size: 20px;
  width: 80px;
  outline: none;
}
.comment-list h3{
  
  line-height: 45px;
}
